<h2><%= @page_subtitle %></h2>


    <% @contacts.each do |contact| %>
      <h4><%= contact.first_name %></h4>
      <h4><%= contact.last_name %></h4>
      <h4><%= contact.phone_number %></h4>
      <h4><%= contact.email %></h4>
    <% end %>
